/******************
  Border Styles
*******************/
.border-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;

    .project-border {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        width: calc(100% - 200px);
        height: calc(100% - 200px);
        background: none !important;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .title-box {
            width: calc(10% + 20px);
            height: calc(10% - 35px);
            background: white;
            position: absolute;
            top: -24px;
            left: 15%;
            text-align: center;

            p {
                margin: 0;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
            }
        }

        .launch-box {
            width: calc(13%);
            height: calc(10% - 35px);
            border: 1px solid rgba(0, 0, 0, 0.2);
            background: white;
            position: absolute;
            bottom: -24px;
            left: 0;
            text-align: center;
            cursor: pointer;
            right: 0;
            margin: auto;

            p {
                margin: 0;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
            }
        }
    }
}

.project-image {
    width: 1000px;
    position: relative;
    left: 100px;
}

.white-bg {
    background: white !important;
}

.nav-box {
    width: calc(2% + 9px);
    height: calc(28% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
    text-align: center;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 0;
    left: 77px;
    bottom: 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

.project-title {
    font-size: calc(4vh + 10px);
    position: relative;
    top: 10vh;
    left: 2vw;
}

.project-description {
    width: 600px;
    position: relative;
    top: 15vh;
    left: 5vw;
    font-size: calc(60% + 10px);
}
/*Role List*/
.role-wrapper {
    width: 40%;
    position: absolute;
    bottom: 15%;
    left: 10%;

    .role-title {
        position: absolute;
        text-align: center;
        bottom: 3em;
        left: 5em;
    }

    .role-list {
        list-style: none;
        display: flex;
        text-align: justify;

        .role-list-item {
            display: inline;
            width: 150px;
            font-size: 15px;

            .role-header {
                font-weight: bold;
                font-size: 11px;
            }
        }

        .role-list-item:nth-child(2) {
            position: relative;
            left: 70px;
        }

        .role-list-item:nth-child(3) {
            position: relative;
            left: 140px;
        }
        .role-list-item:nth-child(4) {
            position: relative;
            left: 210px;
        }
    }
}
