/*************************
      Contact Styles
*************************/

.contact-container {
  .contact-list {
    list-style: none;

    .contact-list-item {
      color: white;
      display: inline-block;
    }
  }
}
