/******************
    Nav Styles
*****************/
.nav-container {
    .activate-nav {
        border-style: solid;
        border-width: thin;
        border-color: black;
        width: 55px;
        height: 55px;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 99999;
        cursor: pointer;
        text-align: center;
        padding-top: 4px;
        font-size: 30px;
        color: white;
    }

    .nav-wrapper {
        background-color: #181723;
        height: 100vh;
        width: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 10;

        #center-nav {
            color: rgba(238, 238, 238, 0.33);
            transform: rotate(90deg);
            border: 1px solid rgba(238, 238, 238, 0.04) !important;
        }

        .menu-list {
            text-align: center;
            padding: 0;
            position: relative;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);

            .menu-item {
                list-style: none;
                color: white;
                font-size: calc(4em - 5px);
                margin: 0 auto;
                width: 500px;
                padding: 10px;

                .menu-item-link {
                    text-decoration: none;
                    color: white;
                    width: 100px;
                }

                .nav-image {
                    padding: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    opacity: 0.2;
                    z-index: -1;
                }
            }
        }
    }
}

#menu-img-1 {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    padding: 0;
}
/******************
    Nav Button
******************/
.fancy-menu {
    display: inline-block;
}

.fancy-menu span {
    background: white;
    border-radius: 1px;
    display: block;
    height: 3px;
    margin-top: 5px;
    padding: 0;
    position: relative;
    transition: all 0.2s ease;
    width: 25px;
}

.fancy-menu.active span:nth-of-type(1) {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    top: 7px;
}

.fancy-menu.active span:nth-of-type(2) {
    opacity: 0;
}

.fancy-menu.active span:nth-of-type(3) {
    -webkit-transform: rotate3d(0,0,1,-45deg);
    transform: rotate3d(0,0,1,-45deg);
    top: -9px;
}
