/******************************
    Outro Component Styles
******************************/
.outro-container {
    height: 100vh;
    width: 100%;
    background-color: #1e1c27;
    position: absolute;
    //background-image: url('images/intro/ivan-stencil.png');
    background-size: cover;
    background-position: center;

}

.outro-nav {
    background-color: #1e1c27 !important;
}
