/***********************
    Selector Component Styles
***********************/
.selector-container {
  .page-nav-list {
    list-style: none;
    padding: 0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    .page-nav-item {
      margin-top: 5px;
      margin-bottom: 4px;
      margin-left: 0;
    }
  }
}
